/*
 * www.g-u-i.net
 */
body {
  position: absolute;
  top: 1em;
  left: 1em;
  bottom: 1em;
  right: 1em;
  margin: 0;
  padding: 0;
  background-color: #000;
  font: 1em/1em "Menlo", "Monaco", Monospace;
  color: #fff;
}
article {
  position: relative;
  display: moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  width: 33.33%;
  height: 33.33%;
}
.ie7 article,
.ie8 article {
  display: block;
  float: left;
}
article .in {
  position: absolute;
  top: 1em;
  left: 1em;
  bottom: 1em;
  right: 1em;
  padding: 1em;
  border: 1px solid white;
  overflow: hidden;
}
p {
  margin: 0 0 1em 0;
}
time {
  font-size: 0.65em;
  line-height: 1.3em;
}
