* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #202020;
  background-color: black;
  width: 100%;
  height: 100%;
  width: 2970px;
  height: 4200px;
  font-size: 12px;
}
body ol {
  width: 100%;
  height: 100%;
}
body ol li {
  width: 16.666666666666668%;
  height: 16.666666666666668%;
  float: left;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
body ol li p {
  margin: 8%;
}
sup {
  background-color: black;
  color: #666666;
  font-size: 8px;
  font-family: Monaco;
  position: relative;
  top: 100%;
  display: block;
}
.bigtext {
  font-family: "48GROUP";
  text-transform: uppercase;
  color: white;
}
