@import "../font/stylesheet.css";
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
  font-size: 12px;
  overflow: hidden;
}
body #grid-container {
  width: 100%;
  height: 100%;
}
body #grid-container .grid-item {
  position: absolute;
  overflow: hidden;
  list-style: none;
}
body #grid-container .grid-item.image img {
  width: 100%;
}
body #grid-container .grid-item.md p {
  padding: 10%;
  text-align: center;
}
body #grid-container .grid-item.outside {
  display: none;
}
sup {
  color: #fff;
  font-size: 20px;
  font-family: Monaco;
  height: 0px;
  position: relative;
  top: 98%;
  display: block;
}
.bigtext {
  font-family: '48groupregular';
  text-transform: uppercase;
}
