@import "../font/stylesheet.css";
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #202020;
  background-color: black;
  width: 100%;
  height: 100%;
  width: 2970px;
  height: 4185px;
  font-size: 12px;
  overflow: hidden;
}
body.refresh {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
body ol {
  width: 100%;
  height: 100%;
}
body ol li {
  width: 16.666666666666668%;
  height: 16.666666666666668%;
  float: left;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
body ol li p {
  padding: 10%;
}
sup {
  background-color: black;
  color: #fff;
  font-size: 20px;
  font-family: Monaco;
  height: 0px;
  position: relative;
  top: 98%;
  display: block;
}
.bigtext {
  font-family: '48groupregular';
  text-transform: uppercase;
  color: white;
}
pre{
  background-color: #fff;
  color:#000;
}

